.container {
  padding-top: 100px;
  min-height: 100vh;
  background: #141414;
  padding-bottom: 60px;
}

.content {
  padding: 0 40px;
  max-width: 1920px;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  margin-bottom: 50px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -1px;
}

.section {
  margin-bottom: 50px;
}
